{% extends "base.html" %}
{% block title %} Reset your Password! {% endblock %}
{% block content %}

    <section>
        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 m-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center">

                            <form method="post">
                                {% csrf_token %}

                                <h1>Forgotten your Password?</h1>
                                <p>Enter your e-mail address to get your pasword.</p>

                                <div class="form-floating">
                                    <input type="email" class="form-control" name="email" id="id_email" placeholder="email" autocomplete="email" maxlength="254" required>
                                    <label for="id_email">Email</label>
                                </div>

                                <br>

                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit" value="Send e-mail">Send E-mail</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
