{% extends "base.html" %}
{% block title %} Reset your Password {% endblock %}
{% block content %}

    <section>
        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 m-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center">

                            <h1>Reset your Password</h1>
                            <p>We have emailed you instructions for setting your password.</p>
                            <p>If you do not receive an e-mail, please make sure you have entered the address you registered with.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
