{% extends "base.html" %}
{% block title %} Password Changed! {% endblock %}
{% block content %}

     <section>
        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 m-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center">

                            <h1> Password changed successfully!</h1>
                            <p>Your password has been successfully changed!</p>

                            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log in</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


